<h1>Apartments</h1>

<h3>Search by owner</h3>

<%= form_tag(building_apartments_path(@building), method: :get) do %>
    <%= text_field_tag :q %>
    <%= submit_tag 'search' %>
<% end %>

<table>
    <thead>
        <th>Number</th>
        <th>Building</th>
        <th>Owner</th>
    </thead>

    <tbody>
        <% @apartments.each do |apartment| %>
            <tr>
                <td><%= apartment.number %></td>
                <td><%= apartment.building %></td>
                <td><%= apartment.owner %></td>
                <td><%= link_to  "Show apartment", building_apartment_path(@building, apartment) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to  "New apartment", new_building_apartment_path(@building) %>