<h1>New apartment</h1>

<%= form_with(model: @apartment, local: true) do |f| %>

    <div>
        <%= f.label 'number' %>
        <%= f.number_field :number, min: 0 %>
    </div>

    <div>
        <%= f.label 'tower' %>
        <%= f.text_field :tower %>
    </div>

    <div>
        <%= f.label 'owner' %>
        <%= f.text_field :owner %>
    </div>

    <div>
        <%= f.label 'buildings' %>
        <%= f.select :building_id, options_from_collection_for_select(@buildings, :id, :name), prompt: 'Seleccione una opcion...' %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>

<%= link_to  "Back", apartments_path %>